*
{
    padding: 0;
    margin: 0;
}
:root
{
    --color1:#50ABE7;
    --color2:white;
}
body
{
    background-color: var(--color1);
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}
.outer-div
{
    background-color: var(--color2);
    padding: 50px;
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
}
.inner-div img
{
    height: 70px;
}
.log-flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
form
{
    margin-top: 40px;
}
::placeholder
{
    text-align: center  ;
}
input
{
    border-radius: 20px;
     border: 1.8px solid #d3d3d3;
    width: 100%;
    height: 40px;
    display: block;
    margin: 0 auto ;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
}
input:hover
{
    border-color: var(--color1);
}
a
{
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: black;
}
.anchor
{
    text-align: center;
    margin-bottom: 20px;
    margin-top: -15px;
}
a:hover
{
    color: var(--color1);
}
button
{
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border-color: grey;
    border-width: thin;
    height: 40px;
    margin-bottom: 50px;
     border: 1.8px solid #d3d3d3;
}
button:hover
{
    background-color: var(--color1);
    color: var(--color2);
}
form img
{
    display: block;
    margin: 0 auto;
}
