@import url(../sidebar.css);
*
{
    margin: 0;
    padding: 0;
}

.div-one
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
.div-one-boxes
{
    width: 30%;
    padding: 15px ;
    border-radius: 10px;
    border: 1px solid black;
    border-bottom: 3px solid var(--color3);
    background-color: var(--color2);
}
thead
{
    background-color: var(--color3);
}
table
{
    margin-top: 20px;
}
button
{
    padding: 5px;
    background-color: var(--color1);
    color: var(--color2);
}
.div-two
{
    border-radius: 10px;
    background-color: var(--color2);
    margin-top: 20px;
    padding: 15px;
}
.main-content
{
    padding: 30px;
    background-color: rgb(237, 233, 233);

}