@import url(../sidebar.css);
*{
    margin: 0;
    padding: 0;
}
.main-div
{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}
form
{
    padding: 30px;
}

input,select
{
    width: 100%;
    margin-bottom: 10px; 
    height: 40px;
    border-radius: 10px;
    border-color: grey;
}

button
{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    color: black;
    background: var(--color1);
    margin-top: 10px;
}
h3
{
    color: var(--color1);
}
label
{
    margin-bottom: 3px;
}
